<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test A-Frame</title>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
</head>
<body style="margin: 0; overflow: hidden;">
    <a-scene embedded>
        <a-assets>
            <img id="test-image" src="{{ url_for('static', filename='image/House_List/House1/House1c.jpg') }}">
        </a-assets>
        <a-sky id="sky" src="#test-image" rotation="0 -90 0"></a-sky>
    </a-scene>
</body>
</html>


                    <option value="0">Balaju</option>
                    <option value="1">Balkhu</option>
                    <option value="2">Balkot</option>
                    <option value="3">Baluwatar</option>
                    <option value="4">Baneshwor</option>
                    <option value="5">Baniyatar</option>
                    <option value="6">Bhaisepati</option>
                    <option value="7">Bhangal</option>
                    <option value="8">Boudha</option>
                    <option value="9">Budhanilkantha</option>
                    <option value="10">Chabahil</option>
                    <option value="11">Chandragiri</option>
                    <option value="12">Changunarayan</option>
                    <option value="13">Chapali</option>
                    <option value="14">Chovar</option>
                    <option value="15">Dhapakhel</option>
                    <option value="16">Dhapasi</option>
                    <option value="17">Duwakot</option>
                    <option value="18">Godawari</option>
                    <option value="19">Gokarneshwor</option>
                    <option value="20">Golfutar</option>
                    <option value="21">Gongabu</option>
                    <option value="22">Hattiban</option>
                    <option value="23">Hattigauda</option>
                    <option value="24">Imadol</option>
                    <option value="25">Jawalakhel</option>
                    <option value="26">Jorpati</option>
                    <option value="27">Kalanki</option>
                    <option value="28">Kapan</option>
                    <option value="29">Kirtipur</option>
                    <option value="30">Kupondole</option>
                    <option value="31">Lazimpat</option>
                    <option value="32">Lubhu</option>
                    <option value="33">Maharajgunj</option>
                    <option value="34">Matatirtha</option>
                    <option value="35">Mulpani</option>
                    <option value="36">Naya Bazar</option>
                    <option value="37">Pasikot</option>
                    <option value="38">Pepsicola</option>
                    <option value="39">Pulchowk</option>
                    <option value="40">Ramkot</option>
                    <option value="41">Ranibari</option>
                    <option value="42">Sallaghari</option>
                    <option value="43">Samakhusi</option>
                    <option value="44">Sanepa</option>
                    <option value="45">Sano Bharyang</option>
                    <option value="46">Satdobato</option>
                    <option value="47">Sitapaila</option>
                    <option value="48">Sukedhara</option>
                    <option value="49">Sunakothi</option>
                    <option value="50">Sundarbasti</option>
                    <option value="51">Suryabinayak</option>
                    <option value="52">Thankot</option>
                    <option value="53">Tokha</option>